.statistics {
    margin-top: 32px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.statList {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    width: 80px;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: relative;
    /* Agregado para posicionar el porcentaje y la barra */
    height: 50px;
    /* Altura del item */
}

.item:not(:last-child) {
    margin-bottom: 10px;
    /* Espacio entre los items */
}

.label {
    font-size: 14px;
}

.percentage {
    font-size: 18px;
    font-weight: bold;
}

.percentage {
    /* Tus estilos existentes */
    position: absolute;
    /* Posiciona el porcentaje en relación a su padre */
    bottom: 0;
    /* Al pie del item */
    right: 0;
    /* Alineado a la derecha */
}


/* Barra de progreso */

.item::before {
    content: '';
    position: absolute;
    height: 100%;
    /* Altura completa del item */
    bottom: 0;
    left: 0;
    background-color: #ddd;
    /* Color de fondo por defecto */
    width: 0;
    /* Inicia sin ancho y se define en línea */
    z-index: -1;
    /* Asegura que la barra esté detrás del texto */
    border-radius: 4px;
}


/* Estilos dinámicos para la barra según el porcentaje */


/* Agrega clases adicionales en tu componente o modifica el estilo en línea */

.item.docx::before {
    background-color: #717efb;
    width: 32%;
}

.item.pdf::before {
    background-color: #ff8c00;
    width: 4%;
}

.item.mp3::before {
    background-color: #e7e7e7;
    width: 17%;
}

.item.psd::before {
    background-color: #ace4e4;
    width: 47%;
}